.sidenav {
  height: 100%;
  width: 15%  ;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, navy, purple);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-title, .sidenav-description, .sidenav-username, .sidenav-login, .sidenav-channel, .channel-list a {
  display: block;
  padding: 6px 8px 6px 16px;
}

.sidenav-title, .sidenav-description, .sidenav-prompt, .sidenav-channel, .channel-list a, #user-display, #add-channel {
  color: #fbfbfa;
}

.sidenav-title {
  font-size: 40px;
  font-weight: bold;
}

.user-display {
  font-size: 20px;

}

.sidenav-channel, #user-display {
  font-size: 30px;
  font-weight: bold;
}

#add-channel {
  display: inline-block;
  float: right;
  padding-right: 10px;
  text-decoration: none;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}

.channel-list a {
  text-decoration: none;
  font-size: 20px;
}

.sidenav .channel-list a:hover {
  background-color: rgba(0,0,0,0.5);
}

ul.channel-list {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
}

.container {
  margin-left: 15%;
  padding: 0px 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close-modal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-image: linear-gradient(to bottom right, navy, purple);
  color: white;
}

.modal-body {padding: 2px 16px;}