.sidenav {
  height: 100%;
  width: 15%  ;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, navy, purple);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-title, .sidenav-description, .sidenav-username, .sidenav-login, .sidenav-channel, .channel-list a {
  display: block;
  padding: 6px 8px 6px 16px;
}

.sidenav-title, .sidenav-description, .sidenav-prompt, .sidenav-channel, .channel-list a, #user-display, #add-channel {
  color: #fbfbfa;
}

.sidenav-title {
  font-size: 40px;
  font-weight: bold;
}

.user-display {
  font-size: 20px;

}

.sidenav-channel, #user-display {
  font-size: 30px;
  font-weight: bold;
}

#add-channel {
  display: inline-block;
  float: right;
  padding-right: 10px;
  text-decoration: none;
}

.channel-list a {
  text-decoration: none;
  font-size: 20px;
}

.sidenav .channel-list a:hover {
  background-color: rgba(0,0,0,0.5);
}

ul.channel-list {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
}

.container {
  margin-left: 15%;
  padding: 0px 20px;
}