<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel ="stylesheet" href="static/styles/index.css">
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <div class="sidenav">
        	<div class="sidenav-title">Flack</div>
        	<p class="sidenav-description">Imitation Slack created with Flask</p>
        	<div class="sidenav-login" id="sidenav-login">
	        	<form id="usernameInitialize">
					<div class="sidenav-prompt">Select Name:</div>
					<input type="text" name="username" id="username"><br>
				</form>
				<button id="submitUsername" type="submit" form="usernameInitialize" value="Submit">Submit</button>
			</div>
			<div class="sidenav-username" id="sidenav-username">
				<p id="user-display"></p>
				<button id="logout">Logout</button>
			</div>
        	<div class="sidenav-channel">
        		Channels
        		<a href="#" id="add-channel">+</a>
        	</div>
        	<ul class="channel-list">
        		{% for channel in channelList %}
					<li><a href="#"># {{ channel }}</a></li>
				{% endfor %}
			</ul>
		</div>
        <div class="container">

        </div>
    </body>
</html>