<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel ="stylesheet" href="static/styles/index.css">
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <div class="sidenav">
        	<div class="sidenav-title">Flack</div>
        	<p class="sidenav-description">Imitation Slack created with Flask</p>
        	<div class="sidenav-login" id="sidenav-login">
	        	<form id="usernameInitialize">
					<div class="sidenav-prompt">Select Name:</div>
					<input type="text" name="username" id="username"><br>
				</form>
				<button id="submitUsername" type="submit" form="usernameInitialize" value="Submit">Submit</button>
			</div>
			<div class="sidenav-username" id="sidenav-username">
				<p id="user-display"></p>
				<button id="logout">Logout</button>
			</div>
        	<div class="sidenav-channel">
        		Channels
        		<span id="add-channel" class="open-modal">&plus;</span>
        	</div>
        	<ul class="channel-list" id="sidenav-channel-list">
        		{% for channel in channelList %}
					<li><a href="#"># {{ channel }}</a></li>
				{% endfor %}
			</ul>
		</div>
        <div class="container">
        	<!--
        	<input type="text" name="type-message" placeholder="Type a message"/>
        	<button type="button">Send</button>
        	-->
        	<div id="new-channel-modal" class="modal">
			  <div class="modal-content">
			    <div class="modal-header">
			      <span class="close-modal">&times;</span>
			      <h2>Add Channel</h2>
			    </div>
			    <div class="modal-body">
			    	<p>Create a new channel for open discussion.</p>
					<form id="create-channel">
						<input type="text" name="newChannelInput" id="newChannelInput" size="35" placeholder="Ex) CS180_Group_Project"/>
						<input type="submit" name="Submit">
					</form><br>
			    </div>
			  </div>
			</div>
        </div>
    </body>
</html>