{% extends "layout.html" %}

{% block title %}
    Bootleg Goodreads - Book Page
{% endblock %}

{% block moreCSS %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bookPage.css') }}">
{% endblock %}
{% block javascript %}
<script type=text/javascript src="{{ url_for('static', filename='js/bookPage.js') }}"></script>
{% endblock %}

{% block body %}
	<h1 style="color:black;"><a href="{{ url_for('index' ) }}">Bootleg Goodreads</a></h1>
	{% if session['username'] %}
		<h1>Welcome {{ session['username'] }}</h1>
		<form action="{{ url_for('index') }}" method = "post">
			<input type="submit" name = "logout" value = "Log Out"/>
		</form>
		<br>
		{% if validISBN %}
			{% for book in bookInfo %}
				<h2>{{ book.title }}</h2>
				ISBN: {{ book.isbn }}<br>
				Author: {{ book.author }}<br>
				Publish Year: {{ book.year }}<br>
			{% endfor %}
			<br>
			{% if average_rating and work_ratings_count %}
				<h2>Goodreads Data</h2>
				Average Rating: {{ average_rating }}<br>
				Number of Ratings: {{ work_ratings_count }}<br>
				<br>
			{% else %}
				<h2>No Goodreads Data</h2>
			{% endif %}
			<h2>Reviews</h2>
			{% if reviewFalse %}
				New Review for {{ session['username'] }}<br>
				<form action="{{ url_for('bookPage', book_isbn=book_isbn) }}" id="reviewform" class="rating" method="post">
					<label>
					    <input type="radio" name="stars" value="1" />
					    <span class="icon">★</span>
					  </label>
					  <label>
					    <input type="radio" name="stars" value="2" />
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					  </label>
					  <label>
					    <input type="radio" name="stars" value="3" />
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>   
					  </label>
					  <label>
					    <input type="radio" name="stars" value="4" />
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					  </label>
					  <label>
					    <input type="radio" name="stars" value="5" checked />
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					    <span class="icon">★</span>
					  </label>
				</form>
				<br>
				<textarea rows="4" cols="50" name="reviewtext" id="reviewtext" form="reviewform" placeholder="Enter Review Here..."></textarea>
				<br>
				<input type="submit" form="reviewform" onclick="return check();">
				<br>
				<br>
			{%  endif %}
			<ul>
				{% for review in reviewInfo %}
					<li>
						<div>
							{{ review.username }}<br>
							Posted on: {{ review.dateposted }}<br>
							<label>
							{% for num in range(review.rating) %}
						    	<span style="color:#FFD700" class="iconreview">★</span>
							{% endfor %}
						  	</label><br>
			    			{{ review.reviewtext }}<br>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h2>Invalid ISBN</h2>
		{% endif %}
	{% else %}
    	<p>New User? <a href="{{ url_for('register') }}">Click here to register!</a></p>
		<p>Already have an account? <a href="{{ url_for('login') }}">Click here to log in.</a></p>
		<h2>Please log in to view content</h2>
	{% endif %}
{% endblock %}






