{% extends "layout.html" %}

{% block title %}
    Bootleg Goodreads - Register
{% endblock %}

{% block body %}
	<h1 style="color:black;"><a href="{{ url_for('index' ) }}">Bootleg Goodreads</a></h1>
	<h2>Register Here</h2>
	<form action="{{ url_for('register') }}" method = "post">
    	Username: <br>
    	<input type="text" name="username"><br>
    	Password: <br>
    	<input type="password" name="password"><br>
    	<br>
    	Repeat Password: <br>
    	<input type="password" name="password2"><br>
    	<input type="submit" value="Submit">
    </form>
	<p>Already have an account? <a href="{{ url_for('login') }}">Click here to log in.</a></p>
    <p>{{ errorMessage }}</p>
{% endblock %}