{% extends "layout.html" %}

{% block title %}
    Bootleg Goodreads - Search Results
{% endblock %}

{% block body %}
	<h1 style="color:black;"><a href="{{ url_for('index' ) }}">Bootleg Goodreads</a></h1>
    {% if session['username'] %}
    	<h1>Welcome {{ session['username'] }}</h1>
		<form action="{{ url_for('index') }}" method = "post">
			<input type="submit" name = "logout" value = "Log Out"/>
		</form>
		<br>
		<div class="search-bar">
			<form action="{{ url_for('search') }}" method = "post" name="searchBar" id="searchBar">
				<input type="text" placeholder="Search..." name="search" id="search">
				<button type="submit">Submit</button>
				<br>
				<input type="radio" name="searchCategory" id="searchCategory" value="ISBN"> ISBN
				<input type="radio" name="searchCategory" id="searchCategory" value="Title" checked> Title
				<input type="radio" name="searchCategory" id="searchCategory" value="Author"> Author
			</form>
		</div>
		{% if postSearch %}
		    <h1>You are searching for "{{ searchText }}" by {{ searchCategory }}.</h1>
			<ul>
		    	{% for book in bookInfo %}
			    	<li>	
			    		<div>
			    			<a href="{{ url_for('bookPage', book_isbn=book.isbn) }}">{{ book.title }}</a><br>
			    			ISBN: {{ book.isbn }}<br>
			    			Author: {{ book.author }}<br>
			    			Publish Year: {{ book.year }}<br>
			    		</div>
			    	</li>
			   	{% else %}
			   	<p>No books found.</p>
			    {% endfor %}
			</ul>
		{% endif %}
	{% else %}
    	<p>New User? <a href="{{ url_for('register') }}">Click here to register!</a></p>
		<p>Already have an account? <a href="{{ url_for('login') }}">Click here to log in.</a></p>
	{% endif %}
{% endblock %}